// Place all the styles related to the Times controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	text-align: center;
	border: 1px solid black;
}

p{
	text-align: center;
}